
.css-480o17-MuiGrid-root{
    min-width: 300px;
    /* margin-left: 2%; */
    justify-content: space-evenly !important;
   /*  margin: 0 7%;*/
   padding: 0 5%;
} 
.card_content{
    display: flex;
    flex-direction: column;
}

.card_itemBuy{
    justify-content: space-evenly;
}