.buy_item{
    display: flex;
    flex-direction: column;
  
}
.count_item{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: rgb(12, 3, 92);
    color: #fff;
    font-weight: 600;
    justify-content: space-around;
    margin-bottom: 5%;
    border-radius: 10px;
}
.simbolosCount{
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.btnAgregar{
    color: rgb(12, 3, 92)!important;
    border: rgb(12, 3, 92) solid !important;
    font-size: 20px !important;
}